@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

*{margin: 0px; padding: 0px}

button
{
    color:#fff;
    text-align: center;
    padding: 10px;
}


.button-icon
{
    text-align: center;
    cursor: pointer;
    font-size:20px;
    margin: 0 0 0 100px;
}



.button-icon
{
    border-radius: 5px;
    background-color:purple;
    border: none;
    padding: 20px;
    width: 175px;
    transition: all 0.5s;
}



.button-icon span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-icon span:after
{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-icon:hover span
{
    padding-right: 25px;
}

.button-icon:hover span:after {
    opacity: 1;
    right: 0;
}
.button-icon a
{
    color: white;
    text-decoration: none;
}